body{
    background-color: #f0f0f0;
}

.img{
    position: relative;
    width: 105px;
    height: 105px;
    top: -40px;

}


nav {
    margin-top: 30px;
}
nav li{
    float: right;
}
h1, h3{
    text-align: center;
    font-family: 'Anton', sans-serif ;
}
.circle{
    border-radius: 50%;
    height:105px;
    width: 105px;
    display: inline;
    margin: 4px;


}
.picture{
    width: 105px;
    height: 105px;
    text-align: center;
}
.pic{
    text-align: center;
    position: relative;
    top: 20px;
}
hr{
    border: 2px solid #e6e6e6;
   width: 60%;
}
.box{
    width:200px;
    height:130px;
    border: solid 2px #e6e6e6;
}
.apple{
    width: 200px;
    height:130px;
}
img{
    width: 65%;
}
.tinycircle{
    float: right;
    position: relative;
    top:-30px;
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 18px;
    font-size: 12px;
    font-family: "Anton";
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}